.root {
  max-width: 1000px;
  margin: 0 auto;

  .header {
    padding: 0 24px;
    min-height: 80px;
    background: blue;
    display: flex;
    align-items: center;

    .logo {
      width: 100px;
      height: 50px;
      background-color: gray;
    }
  }

  .body {
    width: 100%;
  }
}
