.root {
    width: 90px;
    height: 30px;
    border-radius: 10px;

    button{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgb(221, 55, 55);
        color: #fff;
        font-size: 18px;
        border-radius: 16px;
        cursor: pointer;
        padding: 5px;
        

        &:hover {
            background-color: rgb(246, 4, 4);
            scale: 1.05;
        }

        &:active {
            background-color: rgb(221, 55, 55);
        }
    }
}