.root {
    button {
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 16px;
      border: none;
      cursor: pointer;
      text-align: center;
      transition: background-color 0.3s;
  
      &.not-subscribed {
        background-color: rgb(221, 55, 55);
        color: white;

        &:hover {
            background-color: rgb(246, 4, 4);
            scale: 1.05;
        }
      }
  
      &.subscribed {
        border: solid 1px rgb(246, 4, 4);;
        background-color: white;
        color: rgb(246, 4, 4);
        font-weight: bold;

        &:hover {
            scale: 1.05;
            background-color: rgb(251, 229, 229);
        }
      }
    }
  }

